@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@utility backlog {
  @apply bg-[#008170]/40;
}

@utility todo {
  @apply bg-green-400/40;
}

@utility in-progress {
  @apply bg-purple-400/40;
}

@utility testing {
  @apply bg-yellow-200/40;
}

@utility done {
  @apply bg-blue-400/40;
}
